<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to HS Tag</title>
    <meta name="description" content="Youtube channel by Hamendra Singh">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-panel w3-blue w3-text-white  w3-display-topmiddle">
        {%title%}
    </div>
    <br>
    <div class="w3-row w3-container">
        <div class="w3-half">hello</div>
        <div class="w3-rest">worlkd</div>
    </div>
    
</body>
</html>